<div>
    <div class="new-user-business-floor">
        <div class="business-floor-title" style="background-color: antiquewhite;height: 60px;text-align: center;font-size: xx-large;margin-top: 30px;">
            Discover your next business opportunity
        </div>
        <div class="all-floor">
            <div class="ranking-card-box" style="background-color: red;width: 400px;height: 500px;">
                <div class="ranking-title" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;height: 40px;font-size:25px;">
                    <div class="title " title="Top ranking">
                        Top ranking
                    </div>
                    <a class="home-dot-element " href="" target="_blank">
                        View more
                    </a>
                </div>
                <div class="ranking-card-slider-box">
                    <div dir="ltr" class="next-slick ">
                        <div class="next-slick-container">
                            <div class="next-slick-list">
                                <div role="list" class="next-slick-track"
                                    style="opacity: 1; width: 2653px; transform: translate3d(-1895px, 0px, 0px);">
                                    <div class="next-slick-slide" style="width: 379px;">
                                        <div class="title " title="Most popular">
                                            Most popular
                                        </div>
                                        <div class="ranking-description" title="Fine Jewelry Necklaces">
                                            Fine Jewelry Necklaces
                                        </div>
                                        <a class="home-dot-element" href="" target="_blank">
                                            <div class="mask-img hot-image">
                                                <img class="bimg "
                                                    src="//s.alicdn.com/@sc04/kf/H570de81d08fa43ca8e91586d442f0669Z.jpg_350x350.jpg">
                                                <div class="mask">

                                                </div>
                                            </div>
                                            <div class="order-tag">
                                                <span>
                                                    Popularity score:
                                                </span>
                                                <span class="tag-score">&nbsp;4.3</span>
                                            </div>
                                        </a>
                                        <div class="cpv-ranking">
                                            <a class="home-dot-element"
                                                href="https://sale.alibaba.com/p/rank/detail.html?spm=a2700.product_home_newuser.scenario_overview.topRanking&amp;wx_navbar_transparent=true&amp;path=/p/rank/detail.html&amp;ncms_spm=a27aq.rank_detail&amp;prefetchKey=marchexpo&amp;cardType=101001155&amp;cardId=10001354073&amp;topOfferIds=1600543499877&amp;templateBusinessCode=rank-most-popular&amp;splitCardType=&amp;rankMaterialType=&amp;filterId="
                                                target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Hf9b4a434da544e4b94049cb0aaf34632U.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                            <a class="home-dot-element"
                                                href="https://sale.alibaba.com/p/rank/detail.html?spm=a2700.product_home_newuser.scenario_overview.topRanking&amp;wx_navbar_transparent=true&amp;path=/p/rank/detail.html&amp;ncms_spm=a27aq.rank_detail&amp;prefetchKey=marchexpo&amp;cardType=101001155&amp;cardId=10001354073&amp;topOfferIds=1600827718311&amp;templateBusinessCode=rank-most-popular&amp;splitCardType=&amp;rankMaterialType=&amp;filterId="
                                                target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/He6affc8c022a472cbb418b00d37205feu.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element"
                                                href="https://sale.alibaba.com/p/rank/detail.html?spm=a2700.product_home_newuser.scenario_overview.topRanking&amp;wx_navbar_transparent=true&amp;path=/p/rank/detail.html&amp;ncms_spm=a27aq.rank_detail&amp;prefetchKey=marchexpo&amp;cardType=101001155&amp;cardId=10001354073&amp;topOfferIds=1600681931437&amp;templateBusinessCode=rank-most-popular&amp;splitCardType=&amp;rankMaterialType=&amp;filterId="
                                                target="_blank">
                                                <div class="mask-img ">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H8514cc64bb16440aa311667d6ffef88ci.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="next-slick-slide" style="outline: none; width: 379px;">
                                        <a class="home-dot-element" href="" target="_blank">
                                            <img class="bimg "
                                                src="//s.alicdn.com/@img/imgextra/i4/O1CN017urIEG1virIssdJrg_!!6000000006207-0-tps-460-698.jpg_720x720.jpg"></a>
                                    </div>
                                    <div class="next-slick-slide" style="outline: none; width: 379px;">
                                        <div class="title " title="Most popular">
                                            Most popular
                                        </div>
                                        <div class="ranking-description" title="Swiss Lace Wigs">
                                            Swiss Lace Wigs
                                        </div>
                                        <a class="home-dot-element" href="" target="_blank">
                                            <div class="mask-img">
                                                <img class="bimg "
                                                    src="//s.alicdn.com/@sc04/kf/H6572ce98d8b14a0c8edbfd523365436fl.jpg_350x350.jpg">
                                                <div class="mask"></div>
                                            </div>
                                            <div class="order-tag">
                                                <span>Popularity score:</span>
                                                <span class="tag-score">
                                                    &nbsp;4.7
                                                </span>
                                            </div>
                                        </a>
                                        <div class="cpv-ranking">
                                            <a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img ">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Hcd107d7edfd440fb8b22a50ae2151077s.png_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H4d02a21c818649caa154b340efb6caa7q.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H468d3fb436264a49a299b290afca1adfQ.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="next-slick-slide" style=" outline: none; width: 379px;">
                                        <div class="title" title="Most popular">
                                            Most popular
                                        </div>
                                        <div class="ranking-description" title="Machinet ">
                                            Machine Double Weft Hair Extensions
                                        </div>
                                        <a class="home-dot-element" href="" target="_blank">
                                            <div class="mask-img">
                                                <img class="bimg"
                                                    src="//s.alicdn.com/@sc04/kf/Hfb46a64bdfc9495cb0d25fcbd3d0ccffn.jpg_350x350.jpg">
                                                <div class="mask"></div>
                                            </div>
                                            <div class="order-tag">
                                                <span>Popularity score:</span>
                                                <span class="tag-score">&nbsp;4.8</span>
                                            </div>
                                        </a>
                                        <div class="cpv-ranking">
                                            <a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img ">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H9e89c8644a6e48979c81826681c81ed4N.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Ha89fe8a5c9de4ebbbe338f5bd113e918z.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Aa5f3ea8047054761b7bd8a35cef109feZ.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="next-slick-slide style=" outline: none; width: 379px;">
                                        <div class="title " title="Most popular">
                                            Most popular
                                        </div>
                                        <div class="ranking-description" title="Fashion Jewelry Bracelets and Bangles">
                                            Fashion Jewelry Bracelets and Bangles
                                        </div>
                                        <a class="home-dot-element" href="" target="_blank">
                                            <div class="mask-img">
                                                <img class="bimg "
                                                    src="//s.alicdn.com/@sc04/kf/H50494ec0bfef4e32861bbd3b0bc35135V.jpg_350x350.jpg">
                                                <div class="mask"></div>
                                            </div>
                                            <div class="order-tag">
                                                <span>Popularity score:</span>
                                                <span class="tag-score">&nbsp;4.5</span>
                                            </div>
                                        </a>
                                        <div class="cpv-ranking">
                                            <a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img ">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Hdb89c1c16ff04e06a8f435ef84e393f1e.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Hfc94c9dbe20040acb7478677c8e7f924x.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H8a96545b1bce46ec8365eb99a836c671L.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="next-slick-slide" style=" outline: none; width: 379px;">
                                        <div class="title" title="Most popular">
                                            Most popular
                                        </div>
                                        <div class="ranking-description" title="Fine Jewelry Necklaces">
                                            Fine Jewelry Necklaces
                                        </div>
                                        <a class="home-dot-element" href="" target="_blank">
                                            <div class="mask-img">
                                                <img class="bimg "
                                                    src="//s.alicdn.com/@sc04/kf/H570de81d08fa43ca8e91586d442f0669Z.jpg_350x350.jpg">
                                                <div class="mask"></div>
                                            </div>
                                            <div class="order-tag">
                                                <span>Popularity score:</span>
                                                <span class="tag-score">&nbsp;4.3</span>
                                            </div>
                                        </a>
                                        <div class="cpv-ranking">
                                            <a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/Hf9b4a434da544e4b94049cb0aaf34632U.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/He6affc8c022a472cbb418b00d37205feu.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a><a class="home-dot-element" href="" target="_blank">
                                                <div class="mask-img">
                                                    <img class="bimg "
                                                        src="//s.alicdn.com/@sc04/kf/H8514cc64bb16440aa311667d6ffef88ci.jpg_350x350.jpg">
                                                    <div class="mask"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div data-index="5" class="next-slick-slide" style="width: 379px;">
                                        <a class="home-dot-element" href="" target="_blank">
                                            <img class="bimg "
                                                src="//s.alicdn.com/@img/imgextra/i4/O1CN017urIEG1virIssdJrg_!!6000000006207-0-tps-460-698.jpg_720x720.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="Previous" class="list-pre" style="display: block;">
                                <img
                                    src="https://s.alicdn.com/@img/imgextra/i2/O1CN01BozAtV1MOhFWOtOQ5_!!6000000001425-2-tps-150-150.png">
                            </div>
                            <div aria-label="Next" data-role="none" class="list-after" style="display: block;"><img
                                    src="https://s.alicdn.com/@img/imgextra/i2/O1CN01BozAtV1MOhFWOtOQ5_!!6000000001425-2-tps-150-150.png">
                            </div>
                            <ul class="next-slick-dots hoz ranking-dots" aria-hidden="true">
                                <li class="next-slick-dots-item"><button tabindex="-1"></button></li>
                                <li class="next-slick-dots-item"><button tabindex="-1"></button></li>
                                <li class="next-slick-dots-item"><button tabindex="-1"></button></li>
                                <li class="next-slick-dots-item"><button tabindex="-1"></button></li>
                                <li class="next-slick-dots-item active"><button tabindex="-1"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrival-box">
                <div>
                    <div class="new-arrival-title">
                        <div class="title home-fw-semi-bold">New arrivals</div><a
                            class="home-dot-element home-fz-medium view-more" data-spm="newArrivals"
                            href="https://sale.alibaba.com/p/db971rh77/index.html?spm=a2700.product_home_newuser.scenario_overview.newArrivals&amp;wx_navbar_transparent=true&amp;path=/p/db971rh77/index.html&amp;ncms_spm=a27aq.26625037&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=&amp;categoryIds="
                            target="_blank" data-spm-protocol="i" data-appeared="false">View more</a>
                    </div>
                    <div class="new-this-week">
                        <div class="title home-util-ellipsis">86,700+ products added today</div>
                        <div class="this-week-product-box"><a class="home-dot-element this-week-product"
                                data-spm="newArrivals"
                                href="https://sale.alibaba.com/p/db971rh77/index.html?spm=a2700.product_home_newuser.scenario_overview.newArrivals&amp;wx_navbar_transparent=true&amp;path=/p/db971rh77/index.html&amp;ncms_spm=a27aq.26625037&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=1601043248710&amp;categoryIds=3"
                                target="_blank" data-spm-protocol="i" data-appeared="true">
                                <div class="mask-img this-week-product-image"><img class="bimg "
                                        src="//s.alicdn.com/@sc04/kf/H8e81123a87ce403cbcc2cb35a8ad7b20u.jpg_350x350.jpg">
                                    <div class="mask"></div>
                                </div>
                            </a><a class="home-dot-element this-week-product" data-spm="newArrivals"
                                href="https://sale.alibaba.com/p/db971rh77/index.html?spm=a2700.product_home_newuser.scenario_overview.newArrivals&amp;wx_navbar_transparent=true&amp;path=/p/db971rh77/index.html&amp;ncms_spm=a27aq.26625037&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=1601017996719&amp;categoryIds=1524"
                                target="_blank" data-spm-protocol="i" data-appeared="false">
                                <div class="mask-img this-week-product-image"><img class="bimg "
                                        src="//s.alicdn.com/@sc04/kf/Hc24c33dda7eb4bd0be09740150e329441.jpg_350x350.jpg">
                                    <div class="mask"></div>
                                </div>
                            </a><a class="home-dot-element this-week-product" data-spm="newArrivals"
                                href="https://sale.alibaba.com/p/db971rh77/index.html?spm=a2700.product_home_newuser.scenario_overview.newArrivals&amp;wx_navbar_transparent=true&amp;path=/p/db971rh77/index.html&amp;ncms_spm=a27aq.26625037&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=1601024072272&amp;categoryIds=3"
                                target="_blank" data-spm-protocol="i" data-appeared="true">
                                <div class="mask-img this-week-product-image"><img class="bimg "
                                        src="//s.alicdn.com/@sc04/kf/He454680a86a3420da68f6c66cf58b45cn.jpg_350x350.jpg">
                                    <div class="mask"></div>
                                </div>
                            </a><a class="home-dot-element this-week-product" data-spm="newArrivals"
                                href="https://sale.alibaba.com/p/db971rh77/index.html?spm=a2700.product_home_newuser.scenario_overview.newArrivals&amp;wx_navbar_transparent=true&amp;path=/p/db971rh77/index.html&amp;ncms_spm=a27aq.26625037&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=1601023693897&amp;categoryIds=3"
                                target="_blank" data-spm-protocol="i" data-appeared="false">
                                <div class="mask-img this-week-product-image"><img class="bimg "
                                        src="//s.alicdn.com/@sc04/kf/H03c3581e10ae4a49999542bd029625679.png_350x350.jpg">
                                    <div class="mask"></div>
                                </div>
                            </a></div>
                    </div>
                </div>
                <div class="new-launch"><a class="home-dot-element launch-box" data-spm="newLaunches"
                        href="https://sale.alibaba.com/p/exhibiton/dqdnfxkhv/index.html?spm=a2700.product_home_newuser.scenario_overview.newLaunches&amp;wx_navbar_transparent=true&amp;path=/p/d9ji2sqp8/index.html&amp;ncms_spm=a27aq.28099191&amp;prefetchKey=exhibition&amp;wx_xpage=true&amp;topOfferIds=1600861510830"
                        target="_blank" data-spm-protocol="i" data-appeared="false">
                        <div class="mask-img launch-image"><img class="bimg "
                                src="//s.alicdn.com/@sc04/kf/H09767cc4ba244e4fb96cab3db29d2eceI.jpg_350x350.jpg">
                            <div class="mask"></div>
                        </div>
                        <div class="launch-title">
                            <div class="title home-util-ellipsis line2" title="New this week">New this week</div>
                            <div class="subTitle home-util-ellipsis line2 home-fz-default "
                                title="Products from Verified Suppliers only">Products from Verified Suppliers only
                            </div>
                        </div>
                    </a></div>
            </div>
            <div class="saving-spotlight-box">
                <div>
                    <div class="saving-spotlight-title">
                        <div class="title home-fw-semi-bold">Savings spotlight</div><a
                            class="home-dot-element home-fz-medium view-more" data-spm="savingSpotlight"
                            href="https://sale.alibaba.com/p/saving_spotlight/index.html?spm=a2700.product_home_newuser.scenario_overview.savingSpotlight&amp;wx_navbar_transparent=true&amp;path=/p/saving_spotlight/index.html&amp;ncms_spm=a27aq.savings_spotlight&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=&amp;categoryIds="
                            target="_blank" data-spm-protocol="i" data-appeared="false">View more</a>
                    </div>
                    <div class="saving-spotlight-card"><a class="home-dot-element ss-image-box"
                            data-spm="savingSpotlight"
                            href="https://sale.alibaba.com/p/saving_spotlight/index.html?spm=a2700.product_home_newuser.scenario_overview.savingSpotlight&amp;wx_navbar_transparent=true&amp;path=/p/saving_spotlight/index.html&amp;ncms_spm=a27aq.savings_spotlight&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=1601008316679&amp;categoryIds=3"
                            target="_blank" data-spm-protocol="i" data-appeared="false">
                            <div class="mask-img ss-image"><img class="bimg "
                                    src="//s.alicdn.com/@sc04/kf/Hd8841b7ae432479d88fe1aaefe4487c9l.jpg_350x350.jpg">
                                <div class="mask"></div>
                            </div>
                            <div class="title home-util-ellipsis line3" title="Lowest price in 180 days">Lowest price in
                                180 days</div>
                        </a></div>
                </div>
                <div class="best-product-card"><a class="home-dot-element best-product-image-box" data-spm="bestSellers"
                        href="https://sale.alibaba.com/p/dd1yk6uah/index.html?spm=a2700.product_home_newuser.scenario_overview.bestSellers&amp;wx_navbar_transparent=true&amp;path=/p/dd1yk6uah/index.html&amp;ncms_spm=a27aq.27910267&amp;prefetchKey=met&amp;wx_xpage=true&amp;topOfferIds=60705231955"
                        target="_blank" data-spm-protocol="i" data-appeared="false">
                        <div class="best-product-title home-util-ellipsis" title="Deals on best sellers">Deals on best
                            sellers</div>
                        <div class="best-product-inner">
                            <div class="mask-img best-product-image"><img class="bimg "
                                    src="//s.alicdn.com/@sc04/kf/HTB1pcXsXorrK1RkSne1q6ArVVXat.jpg_350x350.jpg">
                                <div class="mask"></div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</div>