<div class="slides">
    <div id="carouselExampleCaptions" class="deals carousel slide" data-bs-ride="true" style="margin: 30px 0;">
        <div class="carousel-inner">
            <span>Buy In Bulk</span>
            <span>WholeSale Best Prices For You!</span>
            <div class="carousel-item active">
                    <img src="{% static 'images/car_Audio_Microphone.webp' %}" class="d-block w-30" alt="..." style="width: 400px;height: 400px;">
                    <div class="carousel-caption d-none d-md-block">
                        <span>GHS 90.45</span>
                        <span><s> GHS 105.22</s></span>
                    </div>
            </div>
            <div class="carousel-item active">
                    <img src="{% static 'images/1(1).jpg' %}" class="d-block w-40" alt="..." style="width: 400px;height: 400px;">
                    <div class="carousel-caption d-none d-md-block">
                        <span>GHS 150.45</span>
                        <span><s> GHS 205.22</s></span>
                    </div>
            </div>
            <div class="carousel-item active">
                    <img src="{% static 'images/game1.jpg' %}" class="d-block w-30" alt="..." style="width: 400px;height: 400px;">
                    <div class="carousel-caption d-none d-md-block">
                        <span>GHS 90.45</span>
                        <span><s> GHS 105.22</s></span>
                    </div>
            </div>
        
        </div>
    </div>
</div>